/* Favourited.css

/* Styling for the heart/like icon */
.favourite-div span {
    margin-right: 4px;
}

/* Styling for the Favourite button */
.favourite-button {
    background-color: #3498db; /* Change background color to your liking */
    color: white;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: auto;
    transition: background-color 0.3s ease; /* Add a smooth color transition */
}

/* Style the button on hover */
.favourite-button:hover {
    background-color: #2980b9; /* Change the hover background color */
}
