.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.single-gig-container {
    background-color: #e6f7ff;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
    border-style: groove;
    border-radius: 8px;
    border-color: azure;
    position: relative;
}

@media only screen and (max-width: 700px) {
    .single-gig-container {
        margin: 0 1rem;
    }
}

#name {
    font-size: 24px;
    font-weight: bold;
}

#desc {
    margin-top: 10px;
    font-size: 16px;
}

#time,
#where {
    margin-top: 5px;
    font-size: 14px;
    color: #888;
}

.favourite {
    margin-top: 10px;
}
