body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f828;
}

/* Style for the main content area */
.main-content {
    max-width: 1200px; /* Adjust the maximum width to your design */
    margin: 0 auto; /* Center the content horizontally */
    padding: 16px;
}

a {
    position: relative;
    text-decoration: none;
    color: #3498db; /* Change link color to your liking */
}

/* Add a pseudo-element for the underline effect */
a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Adjust the height to your preference */
    bottom: 0;
    left: 0;
    background-color: #3498db; /* Match the link color */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

/* Hover effect for links */
a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

@viewport {
    width: device-width;
    zoom: 1;
}

@media screen and (max-width: 320px) {
    /* CSS for screens that are 320 pixels or less will be put in this section */
}
